
#test {
    
    background-color: green;
    border-style: solid;
    border-color: black;
    
}

#tile-style {
    height: 30em;
    border-radius: 2em;
    border-style: solid;
    border-color: black;
    background-color: rgba(255,255,255,0.8);
}


#footer {
    height: 10em;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #ece6e6;
    border-top-style: dashed;
    border-top-color: black;
    border-width: 0.1em;
}

#donate-icon {
    width: 1em;
    heigth: 1em;
    padding-bottom: 0.2em;
}

ul {
    list-style-type: none;
}

body {
    margin-bottom: 12em;
    background-color: #fda9bc;
    background-image: url(../images/svg/Polka_Dot.svg);
}
