
.test {  
    background-color: green;
    border-style: solid;
    border-color: black;
    
}
.navbar {
    border-bottom-style: solid;
    border-bottom-color: black;
}
#donate-icon {
    width: 1.4em;
    padding-bottom: 0.2em;
}

#tile-style {

    height: 300px;
    border-radius: 1.25em;
    border-style: outset;
    border-color: black;
    background-color: rgba(255,255,255,0.85);
}

#scroll-content {
    overflow: auto;
    height: 75%;
    max-height:100%;
}

#token-td {
    overflow:visible;
    font-weight:bold;
    width: 30%;
    vertical-align: middle;
}

#admin{
    font-size: 0.7em;
}

#token-table {
    overflow: auto;
    height: 33%;
    
}

a:hover{
  
}

h3 {
    width:100%;
}
td {
    max-width: 20%;
    vertical-align: middle;
    overflow: hidden;
}

table {
    overflow: hidden;
    table-layout: fixed;
    width: 100%;
}

footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background-color: #ece6e6;
    border-top-style: solid;
    border-top-color: darkolivegreen;
    border-width: 0.05em;
}

div{
    overflow:hidden;
}

ul {
    list-style-type: none;
}

body {
    margin-bottom: 14em;
    background-color: #fda9bc;
    background-image: url(../images/svg/polka_dot.svg);
}
